body{
    font-family: 'Raleway', sans-serif;
   /* background-image:url("http://hdimages.org/wp-content/uploads/2016/11/html-background-image-HD2.jpg");*/
    background-attachment: fixed;
    padding-top:30px;
    background-color: rgba(127, 255, 212, 0.42)
}
li{
    text-align: justify;
}
.sec{
    margin-bottom: 40px;
}
span{
    font-weight: bold;
    //background-color: rgba(86, 165, 206, 0.39)
}
ul{
    border:2px solid rgba(0, 118, 255, 0.66);
    border-radius: 15px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.sub{
    position: relative;
    top:30px
}